@font-face {
    font-family: "Friz Quadrata Std Regular";
    src: url("./fonts/Friz\ Quadrata\ Std\ Regular.otf");
    src: url("./fonts/Friz\ Quadrata\ Std\ Regular.otf") format("otf"),
    url("./fonts/Friz\ Quadrata\ Std\ Regular.otf") format("opentype"),
    }

@font-face {
        font-family: "spiegel";
        src: url("./fonts/spiegel.ttf");
        src: url("./fonts/spiegel.ttf") format("ttf"),
        url("./fonts/spiegel.ttf") format("truetype"),
        }

        
@font-face {font-family: "BeaufortW01-Regular"; 
        src: url("//db.onlinewebfonts.com/t/2c37f3699d9728b566e9bdc5b11e5180.eot"); 
        src: url("//db.onlinewebfonts.com/t/2c37f3699d9728b566e9bdc5b11e5180.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2c37f3699d9728b566e9bdc5b11e5180.woff2") format("woff2"), 
        url("//db.onlinewebfonts.com/t/2c37f3699d9728b566e9bdc5b11e5180.woff") format("woff"), 
        url("//db.onlinewebfonts.com/t/2c37f3699d9728b566e9bdc5b11e5180.ttf") format("truetype"), 
        url("//db.onlinewebfonts.com/t/2c37f3699d9728b566e9bdc5b11e5180.svg#BeaufortW01-Regular") format("svg"); 
    } 

* {
    box-sizing: border-box;
}

.countdown-body {
    font-family: 'Friz Quadrata Std Regular';
    text-align: center;
    background:#191919 url('../images/about/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 12%;
    padding-bottom: 5%;
    width: 100%;
    height: 90vh;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 75px;
    font-weight: 400;
    margin-bottom: 46px;
    font-family: "BeaufortW01-Regular"
}


.h2-color {
    color: #F1B416;
}


.countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown-item {
    color: #fff;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "spiegel";
    line-height: 55px;
    margin: 10px;
    padding-top: 10px;
    position: relative;
    width: 100px;
    height: 100px;
}

.countdown-item span {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.countdown-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}


@media all and (max-width:768px){
    .countdown-body{
        background:#191919 url('../images/about/about-mobile-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 60vh;
        padding-top: 16%;

    }
    .countdown-item {
        font-size: 35px;
        line-height: 30px;
    }

    h1 {
        font-size: 2rem;
    }

}