@font-face {
    font-family: "Friz Quadrata Std Regular";
    src: url("./fonts/Friz\ Quadrata\ Std\ Regular.otf");
    src: url("./fonts/Friz\ Quadrata\ Std\ Regular.otf") format("otf"),
    url("./fonts/Friz\ Quadrata\ Std\ Regular.otf") format("opentype"),
    }
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');


.domaintext {
  padding-top: 65px;
}
.domain-body{
  font-family: 'Friz Quadrata Std Regular';
    color: white;
    background:#191919 url('../images/about/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 110vh;
    text-align: center;
    font-family: "Open Sans";
}
.domain-body img{
    width:200px;
    height:300px;
}
.slick-track{
    width:auto;
    height: 90vh;
}
.slide img {
    width: 10rem;
    height: 20rem;
    margin: 0 auto;
  }
  
  .slide {
      text-align: center;
    transform: scale(1);
    transition: transform 300ms;
    opacity: 0.5;
    /* width: 50%;
    margin: 0; */
  }
  .slide .domain-info{
      display: none;
      padding-top: 20px;
  }
  .domain-info p{
   padding: 4%;
   padding-bottom: 1%;
   font-size: 14px;
   font-family: "Roboto";
  }
  
  .activeSlide {
    transform: scale(1.2);

    opacity: 1;
  }
  .activeSlide .domain-info{
      display: block;
      background: rgba(0, 0, 0, 0.253);
      /* margin-left: -110px; */
      margin-left: -100%;
      width:45rem;
      border-radius: 25px;
  }
.slick-slide{
    height: 100vh;
}
  .main-slider{
      padding:0;
      padding-top:10%;
      margin-top: -50px;
      margin-bottom: -50px;
  }
  
  .arrow {
    position: absolute;
    cursor: pointer;
    z-index: 10;
  }
  
  .arrow svg {
    transition: color 300ms;
  }
  
  .arrow svg:hover {
    color: #68edff;
  }
  
  .next {
    right: 5%;
    top: 60%;
  }
  
  .prev {
    left: 5%;
    top: 60%;
  }
  .slick-dots li button:before{
    color:white;
}
.slick-dots li.slick-active button:before{
    color:white;
}
.slick-dots{
    margin-bottom: 28%;
}
.arrow-icon{
  color:#F1B416;
}


@media all and (max-width:768px){
    .domain-body{
      background:#191919 url('../images/about/bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .main-slider{
      padding:0;
  }

    h1 {
      padding-top: 35px;
      margin-left: 5%;
    } 
    .slide{
        transform: scale(0.65);
        align-items: center;
    }
    .slick-slide{
        height: 100vh;
    }
    .slide img{
        width: 8rem;
        width:  5rem;
    }
    .activeSlide img{
      width:8rem;
    }
    .activeSlide {
        transform: scale(1.2);
        opacity: 1;
        align-items: center;
      }
      .slide .domain-info{
        display: none;
    }
    
      .activeSlide .domain-info{
        display: block;
        margin-left: -85px;
        width: 18rem;
        margin-top: 30px;
    }
    .next {
        right: 5%;
        top: 35%;
      }
      
      .prev {
        left: 5%;
        top: 35%;
      }
      .slick-dots{
        position: absolute;
        bottom: 50%;
        transform: translateY(100%);
      }
     
}
@media all and (max-width:360px){
    .slide{
        transform: scale(0.4);
        align-items: center;
    }
    .activeSlide {
        transform: scale(1);
        opacity: 1;
        align-items: center;
      }
      .slick-slide{
        height: 115vh;
    }
}